<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link th:href="@{../style/authority/main_css.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{../style/authority/zTreeStyle.css}" rel="stylesheet" type="text/css">
	<!--<script type="text/javascript" th:src="@{../scripts/jquery/jquery-1.7.1.js}"></script>-->
	<script type="text/javascript" th:src="@{../scripts/zTree/jquery.ztree.core-3.2.js}"></script>
	<script type="text/javascript" th:src="@{../scripts/authority/commonAll.js}"></script>
	<link href="https://heerey525.github.io/layui-v2.4.3/layui/css/layui.css" rel="stylesheet" type="text/css">
	<link th:href="@{../assets/css/layer.css}" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="https://heerey525.github.io/layui-v2.4.3/layui/layui.js"></script>
	<script type="text/javascript" th:src="@{../scripts/zTree/layui.all.js}"></script>
	<link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>信息管理系统</title>
<style>
	.alt td{ background:black !important;}
</style>
</head>
<body>
	<form id="submitForm" name="submitForm" action="" method="post">
		<input type="hidden" name="allIDCheck" value="" id="allIDCheck"/>
		<input type="hidden" name="fangyuanEntity.fyXqName" value="" id="fyXqName"/>
		<div id="container">
			<div class="ui_content">
				<div class="ui_tb">
					<table class="table table-bordered table-hover" style="margin:auto;width: 90%;" cellspacing="0" cellpadding="0" width="100%" align="center" border="0">
						<tr>
							<th style="text-align: center;">ID</th>
							<th style="text-align: center;">流程实例ID</th>
							<th style="text-align: center;">业务编号</th>
							<th style="text-align: center;">流程定义ID</th>
							<th style="text-align: center;">状态</th>
							<th style="text-align: center;">操作</th>
						</tr>
							<tr th:each="one:${list.list}">

								<td style="text-align: center;" th:text="${one.ID_}"></td>
								<td style="text-align: center;" th:text="${one.PROC_INST_ID_}"></td>
								<td style="text-align: center;" th:text="${one.BUSINESS_KEY_}"></td>
								<td style="text-align: center;" th:text="${one.PROC_DEF_ID_}"></td>
								<td style="text-align: center;" th:text="${one.status}"></td>

								<td style="text-align: center;">
									<span th:if="${one.status} eq '存活中---'">
										<a title="暂停流程实例" href="javascript:;" onclick="active(this)">暂停</a>
									</span>
									<span th:if="${one.status} eq '已死亡'">
										<a title="激活流程实例" href="javascript:;" onclick="active(this)">激活</a>
									</span>
									<!--<a href="javascript:;" onclick="bsmx(this)" >部署模型</a>-->
									<!--<a href="javascript:;" onclick="ckmx(this)" >修改</a>-->
									<!--<a href="javascript:;" onclick="scmx(this)" >删除</a>-->

								</td>
							</tr>
						

						
					</table>
				</div>
				<div class="ui_tb_h30">
					<div class="ui_flt" style="height: 30px; line-height: 30px;margin-left: 5%;margin-top: 3%;">
						共有
						<span class="ui_txt_bold04" th:text="${list.total}"></span>
						条记录，当前第
						<span class="ui_txt_bold04" th:text="${list.pageNum}">
							页
						</span>/<span class="ui_txt_bold04" th:text="${list.pages}"></span>页
					</div>
					<div class="ui_frt" style="float: right;margin-right: 6%; margin-top: -2%;">
						<!--    如果是第一页，则只显示下一页、尾页 -->
						
						<a  th:href="@{/workflow/processList?pn=1}" class="ui_input_btn01" >首页</a>
						<a th:href="@{'/workflow/processList?pn='+${list.pageNum-1}}" class="ui_input_btn01">上一页</a>
							<a th:href="@{'/workflow/processList?pn='+${list.pageNum+1}}" class="ui_input_btn01">下一页</a>
							<a th:href="@{'/workflow/processList?pn='+${list.pages}}" class="ui_input_btn01">尾页</a>
						
						
						

					</div>
				</div>
			</div>
		</div>
	</form>

	<div id="myAlert1" class="alert alert-success" style="display: none;">
		<a href="#" class="close" data-dismiss="alert" style="position: absolute;top: 0;">&times;</a>
		<strong>操作成功！</strong>
	</div>
<script>

    function active(e) {
        var font=$(e).html();
        var allFont="确认"+font+"吗？";
        var id=$(e).parent().parent().parent().find("td").eq(1).html();
        if(confirm(allFont)){
            $.post(
                "/workflow/processExcutionActive",
                {id:id},
                function (data) {
                    if(data==1){
                        $("#myAlert1").fadeIn();
                        setTimeout(function () {
                            $("#myAlert1").fadeOut();
                            window.location.href=window.location.href;
                        },2000);
                    }
                }
            );
        }
    }



</script>
</body>
</html>
