<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>title</title>
	<link th:href="@{../style/authority/basic_layout.css}" rel="stylesheet" type="text/css">
	<link th:href="@{../style/authority/common_style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<table class="table" cellspacing="0" cellpadding="0" width="100%" align="center"  border="0">
		    <tr>
		      <th colspan="2">系统更新日志</th>
		    </tr>
			<tr>
				<td width="100" height="30">2020-5-10<span class="TableRow2"></span></td>
				<td style="text-align:left">&nbsp;&nbsp;搭建系统框架，整合HTML页面</td>
			</tr>
			<tr>
				<td width="100" height="30">2020-5-18<span class="TableRow2"></span></td>
				<td style="text-align:left">&nbsp;&nbsp;写Activiti对外提供的工作流接口</td>
			</tr>
			<tr>
				<td width="100" height="30">2020-5-20<span class="TableRow2"></span></td>
				<td style="text-align:left">&nbsp;&nbsp;增加本系统操作手册</td>
			</tr>
			<tr>
				<td width="100" height="30">2020-5-22<span class="TableRow2"></span></td>
				<td style="text-align:left">&nbsp;&nbsp;整合layui和bootstrap的模态框和弹框组件</td>
			</tr>
		    <tr>
		      <td width="100" height="30">2020-5-23<span class="TableRow2"></span></td>
		      <td style="text-align:left">&nbsp;&nbsp;添加菜单权限动态分配，用户管理，部门管理</td>
		    </tr>
		    <tr>
		      <td width="100" height="30">2020-5-24<span class="TableRow2"></span></td>
		      <td style="text-align:left">&nbsp;&nbsp;登录页增加注册账号提示框功能</td>
		    </tr>
		</table>

	</div>
	<div style="text-align:center;">
</div>
</body>
</html>
